* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  font-family: 'Open Sans', sans-serif;
}

/* setup to remove default styling */
a {
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

/* Default button styles */
.link--pink,
button {
  border-radius: 10px;
  background: #eb2c97;
  color: #fff;
  padding: 1.5% 2%;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  border: none;
  font-size: 16px;
}

.link--pink:hover,
.link--pink:focus,
button:hover,
button:focus {
  box-shadow: 5px 5px 0 0 #d2d1d1;
}

button {
  margin-bottom: 8%;
  padding: 5% 2%;
}

/* centers content on page */
.wrapper {
  width: 80%;
  margin: 0 auto;
}


/* Header Styles */
header {
  background: #4e57ca;
  transition: 0.3s all ease-in-out;
  position: fixed;
  width: 100%;
  top: 0;
  height: 85px;
  z-index: 2;
  display: flex;
  align-items: center;
}

header:hover,
header:focus {
  background: #6971d4;
}

header a {
  letter-spacing: 0.1em;
  font-weight: 700;
  color: #fff;
}

header img {
  width: 15%;
  max-width: 70px;
  padding-right: 20px;
}

.heading a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

/* Main Styles */

main h1 {
  font-weight: 700;
}

main h2 {
  margin: 2% 0;
}


/* List styles */

.bridge--cohorts {
  padding-top: 115px;
}

li {
  background: #f0f0f0;
  border-radius: 10px;
  margin-bottom: 2%;
  padding: 0 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s all ease-in-out;
}

.results--container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  overflow: hidden;
}

aside {
  background: #f4f4f4;
  width: 30%;
  padding: 115px 3% 0 10%;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

section {
  width: 70%;
  padding: 115px 10% 0 5%;
}

section h2 {
  margin-top: 0;
}

/* Loader */
.loader {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  z-index: 42;
  background: #4e57ca;
}

/* Media queries */

@media (max-width: 939px) {
  .wrapper {
    width: 90%;
  }

  aside {
    padding-left: 5%;
  }

  section {
    padding-right: 5%;
  }
}

@media (max-width: 640px) {
  header h1 {
    font-size: 5vw;
  }

  button {
    font-size: 2vw;
  }
}